.card {
    padding: 10px;
    margin: 30px;
    width: 90%;
    height: 50%;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .circle {
    width: 15px;
    height: 15px;
    
    border-radius: 50px;
   }
   
   .icon_container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
    padding-right: 15px;
   }